@tailwind base;
@tailwind components;
@tailwind utilities;

button {
  @apply p-0 m-0 cursor-pointer;
}

a,
span {
  @apply inline-block no-underline focus:shadow-none outline-offset-0;
}

input,
textarea {
  @apply outline-none block;
}
body {
  font-family: "Montserrat", sans-serif;
  @apply bg-[#1C1C1C] text-white text-15 font-medium leading-full;
}
.container {
  @apply max-w-[414px] mx-auto;
}
@media (max-width: 438px) {
  .container {
    @apply px-[14px];
  }
}
.no-scrollbar::-webkit-scrollbar {
  @apply hidden;
}

/* modal */
.modal {
  @apply max-w-[500px]  mx-auto overflow-y-auto overflow-x-hidden fixed left-1/2 -translate-x-1/2 bg-[#1C1C1C] z-[9999] w-full h-full px-[13px] pt-[25px] pb-5;
  box-shadow: 0px 4px 20px 0px #464646;
}
.swiper .swiper-pagination {
  @apply rounded-[7.5px] bg-[#46464626] !w-fit p-1 h-[14px] flex gap-0.5 justify-center mx-auto !left-1/2 !-translate-x-1/2 !bottom-0.5;
}
.swiper .swiper-pagination-bullet {
  @apply w-[6px] h-[6px] opacity-100 bg-grayCustom !m-0;
}
.swiper .swiper-pagination-bullet-active {
  @apply bg-white;
}

/* date style */

.react-datepicker,
.react-datepicker__header {
  @apply !bg-charcoal;
}
.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name,
.react-datepicker__current-month,
.react-datepicker-time__header,
.react-datepicker-year-header {
  @apply !text-white;
}

.react-datepicker__day--keyboard-selected {
  @apply !bg-transparent !opacity-100 !text-[#E679FF];
}
.custom-date .react-datepicker {
  width: 100%;
  border-radius: 15px;
}

.react-datepicker__day,
.react-datepicker__month-text,
.react-datepicker__quarter-text,
.react-datepicker__year-text,
.custom-date .react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
}

.react-datepicker__month-container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px 0 20px;
  border-radius: inherit;
}
.react-datepicker__header {
  border: none !important;
}
.react-datepicker {
  border: none !important;
  background: #242424 !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  top: -5px;
}
.react-datepicker .bottom-content {
  border-top: 1px solid #303030;
  padding: 12px 20px;
  font-family: "Montserrat", sans-serif;
}

.react-datepicker__navigation-icon::before,
.react-datepicker__year-read-view--down-arrow,
.react-datepicker__month-read-view--down-arrow,
.react-datepicker__month-year-read-view--down-arrow {
  display: none !important;
}
.custom-date .react-datepicker__navigation--next {
  right: 13%;
  height: 12px;
  top: 14px;
  overflow: visible;
}

.custom-date .react-datepicker__navigation-icon--previous {
  background-image: url(../images/icons/prev.svg) !important;
  background-repeat: no-repeat !important;
  width: 26px !important;
  height: 15px !important;
  transform: rotate(0) !important;
}
.custom-date .react-datepicker__navigation-icon--previous {
  right: unset;
  left: unset;
}
.react-datepicker__navigation-icon--next {
  background-image: url(../images/icons/arrow-next.svg) !important;
  background-color: #303030 !important;
  min-width: 100px !important;
  max-width: 100px !important;
  background-position: center;
  height: 30px !important;
  border-radius: 8px;
  background-repeat: no-repeat;
  transform: rotate(0) !important;
}
.react-datepicker__navigation-icon--previous {
  background-color: #303030 !important;
  min-width: 100px !important;
  max-width: 100px !important;
  background-position: center;
  min-height: 30px !important;
  max-height: 30px !important;
  border-radius: 8px;
  background-repeat: no-repeat;
  transform: rotate(0) !important;
}

.custom-date .react-datepicker__navigation--previous {
  left: 13%;
  height: 12px;
  top: 14px;
  overflow: visible;
}

.custom-date .react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
  height: fit-content;
}

.custom-date .react-datepicker__week {
  display: flex;
  justify-content: space-between;
}

.react-datepicker__header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
h2.react-datepicker__current-month {
  text-transform: capitalize;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(-1px);
  max-width: 142px;
  background: #303030;
  border-radius: 8px;
  height: 30px;
  margin: 0 auto;
}
.react-datepicker__header {
  padding: 4px 0 !important;
}

.custom-date .react-datepicker__day-names {
  margin-top: 18px;
  width: 100%;
  text-transform: capitalize;
  display: flex;
  justify-content: space-between;
}

.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range,
.react-datepicker__month-text--selected,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--selected,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__quarter-text--in-range,
.react-datepicker__year-text--selected,
.react-datepicker__year-text--in-selecting-range,
.react-datepicker__year-text--in-range {
  @apply !bg-transparent !text-[#E679FF];
}

.custom-date .react-datepicker__month {
  margin: 10px 0 0 0;
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.custom-scrollbar::-webkit-scrollbar {
  @apply rounded-lg w-[18px] border border-iron;
}
.custom-scrollbar::-webkit-scrollbar-track {
  @apply border border-iron border-solid rounded-lg;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-white rounded-lg;
}
.checkbox-container {
  @apply flex items-center gap-[6px];
}
.checkbox-container input {
  @apply hidden;
}
.checkbox-container label {
  @apply relative pl-[26px] text-xs font-semibold cursor-pointer;
}
.checkbox-container label::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border: 2px solid #464646;
  background: #272727;
  border-radius: 6px;
}
.checkbox-container label::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background: url("/images/icons/checked.svg") no-repeat center;
  border-radius: 4px;
  display: none;
}
.checkbox-container input:checked + label::after {
  display: block;
}
.checkbox-container input:checked + label::before {
  border: transparent;
  background: #272727;
}

.text-vip {
  background: linear-gradient(90deg, #ff6d44 0%, #ffb783 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.show-more__text::before {
  content: "";
  position: absolute;
  bottom: -7px;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(39, 39, 39, 0) 58.39%,
    rgba(39, 39, 39, 0.7) 74.52%,
    #272727 89.75%
  );
}
.circle-chart {
  width: 90px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.recharts-responsive-container svg,
.recharts-wrapper svg {
  /* pointer-events: none; */
  border: none !important;
  outline: none !important;
}
.circle-chart .recharts-wrapper {
  width: 89px !important;
  height: 89px !important;
  pointer-events: none;
}

.react-datepicker__day:hover {
  @apply !bg-grayCustom;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.icon-gray {
  filter: brightness(0) saturate(100%) invert(41%) sepia(0%) saturate(0%)
    hue-rotate(0deg);
}
.icon-white {
  filter: invert(0) brightness(100%);
}

.custom-table table tbody td:last-child,
.custom-table table tbody th:last-child,
.custom-table table thead td:last-child,
.custom-table table thead th:last-child {
  position: sticky;
  right: -1px;
  z-index: 100;
  padding-left: 0;
}
.custom-table table tbody td:last-child div,
.custom-table table tbody th:last-child div,
.custom-table table thead td:last-child div,
.custom-table table thead th:last-child div {
  height: 32px;
  padding-left: 10px;
  border-left: 1px solid #303030;
  display: flex;
  align-items: center;
}
table tfoot {
  position: static;
  bottom: 0;
  left: 0;
}

.react-datepicker__day--keyboard-selected,
.react-datepicker__month-text--keyboard-selected,
.react-datepicker__quarter-text--keyboard-selected,
.react-datepicker__year-text--keyboard-selected,
.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range,
.react-datepicker__month-text--selected,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--selected,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__quarter-text--in-range,
.react-datepicker__year-text--selected,
.react-datepicker__year-text--in-selecting-range,
.react-datepicker__year-text--in-range {
  @apply !bg-[#59BFFF] !text-[#303030] !rounded-[10px];
}

@media (max-width: 410px) {
  .react-datepicker__navigation-icon--next {
    left: 4px;
    min-width: 75px !important;
  }
  .react-datepicker__navigation-icon--previous {
    min-width: 75px !important;
    right: 5px !important;
  }
  h2.react-datepicker__current-month {
    transform: translateX(-3px);
  }
  .md-small-boxh {
    max-width: 100px;
  }
}

.radio-container input {
  display: none;
}
.radio-container input:checked + label::after {
  display: block;
}
.radio-container label::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 4px;
  background: #59bfff;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: none;
}
.radio-container label {
  position: relative;
  padding-left: 27px;
}
.radio-container label::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  border: 2px solid #464646;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background: transparent;
}

@media (max-width: 365px) {
  .react-datepicker__navigation-icon--next {
    left: 10px;
    min-width: 60px !important;
  }
  .react-datepicker__navigation-icon--previous {
    min-width: 60px !important;
    right: 10px !important;
  }
  h2.react-datepicker__current-month {
    transform: translateX(-3px);
  }
}

.small-text .radio-container span {
  width: 117px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media (max-width: 390px) {
  .media-small-text {
    width: 98%;
  }
  .media-size-small .flex-1 span {
    font-size: 12px;
  }
}
