@tailwind base;
@tailwind components;
@tailwind utilities;

button {
  @apply p-0 m-0 cursor-pointer bg-transparent;
}

a,
span {
  @apply inline-block no-underline focus:shadow-none outline-offset-0;
}

input,
textarea {
  @apply outline-none block;
}
body {
  font-family: "Montserrat", sans-serif;
  @apply bg-black text-white text-15 font-medium leading-full;
}
.container {
  @apply max-w-[413px] mx-auto;
}
@media (max-width: 438px) {
  .container {
    @apply px-[14px];
  }
}
.no-scrollbar::-webkit-scrollbar {
  @apply hidden;
}

/* modal */
.modal {
  @apply fixed left-0 rounded-t-[30px] z-[9999] bg-charcoal w-full h-full pt-[21px] px-[27px] border-t border-iron;
  box-shadow: 0px 4px 20px 0px #464646;
  backdrop-filter: blur(45px);
}
.swiper .swiper-pagination {
  @apply rounded-[7.5px] bg-[#46464626] !w-fit p-1 h-[14px] flex gap-0.5 justify-center mx-auto !left-1/2 !-translate-x-1/2 !bottom-0.5
}
.swiper .swiper-pagination-bullet{
  @apply w-[6px] h-[6px] opacity-100 bg-grayCustom !m-0
}
.swiper .swiper-pagination-bullet-active{
  @apply bg-white
}
